version: "3.9"

services:
  db:
    image: postgres:15-alpine
    container_name: msl_db
    restart: unless-stopped
    env_file:
      - backend/.env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - internal

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: msl_backend
    restart: unless-stopped
    env_file:
      - backend/.env
    depends_on:
      - db
    ports:
      - "2020:8000" # Caddy -> backend
    networks:
      - internal

  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile
    container_name: msl_frontend
    restart: unless-stopped
    depends_on:
      - backend
    ports:
      - "2021:80" # Caddy -> frontend
    networks:
      - internal
networks:
  internal:
volumes:
  postgres_data:
