version: "3.9"

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: msl_backend
    restart: unless-stopped
    env_file:
      - backend/.env
    ports:
      - "2020:8000" # Caddy -> backend
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - internal

  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile
    container_name: msl_frontend
    restart: unless-stopped
    depends_on:
      - backend
    ports:
      - "2021:80" # Caddy -> frontend
    networks:
      - internal
networks:
  internal:
